/* Definição pelo usuário */
:root {
  --theme-color: #007bff; /* Cor padrão */
  --theme-color-hover: #0056b3; /* Cor de hover padrão */
}


/* Estilos Gerais */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin-bottom: 10px;
  font-size: 36px;
  color: #333;
}


/* Estilos básicos para os modais */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Botões dentro dos modais */
.modal-content button {
  margin-top: 10px;
}

/* Botão de fechar modal */
.modal-content .close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #aaa;
}

.modal-content .close-btn:hover {
  color: #000;
  cursor: pointer;
}

/* Input color dentro do modal */

.modal-content input[type="color"] {
  display: block;
  margin-top: 5px;
  width: 100%;
  height: 50px;
  border: none;
  padding: 0;
  cursor: pointer;
}



/* Calendário */
.calendar {
    max-width: 1000px;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--theme-color);
    color: #ffffff;
}
.calendar-header h2 {
    margin: 0;
    font-size: 24px;
}
.calendar-header button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
}
.calendar-header button:focus {
    outline: none;
}
.calendar-body {
    padding: 20px;
}
.calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: #888;
    font-weight: bold;
}
.calendar-weekdays div {
    padding: 10px 0;
}
.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1.2fr);
    text-align: left;
}
.calendar-days div {
    padding: 5px;
    margin: 5px;
    background-color: #e9ecef;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    min-height: 30px;
    overflow: hidden;
}

.calendar-days div.today {
    background-color: var(--theme-color);
    color: #ffffff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.calendar-days div.today .day-number {
    color: inherit;
    background-color: var(--theme-color)
}

.calendar-days div:hover {
    background-color: var(--theme-color);
    color: #ffffff;
}

.calendar-days div.other-month {
    background-color: #f0f0f0; /* Cor de fundo mais clara */
    color: #999999; /* Texto mais claro */
}

.calendar-days div.other-month .day-number {
    color: inherit;
}

.calendar-days div.other-month:hover {
    background-color: #e0e0e0;
    color: #666666;
}

.calendar-days div.other-month .task-preview {
    background-color: #e0e0e0;
}

.calendar-days div.other-month .task-preview.completed {
    background-color: #d0d0d0;
}

.calendar-days div.other-month .task-preview.completed:hover {
    background-color: #d0d0d0;
	color: #666666;
}

.day-number {
    font-weight: bold;
    margin-bottom: 5px;
}
.task-preview {
    font-size: 14px;
    margin-bottom: 1px;
    padding: 2px;
    border-radius: 3px;
    color: #ffffff;
    cursor: move;
    word-wrap: break-word;
    max-height: 50px; /* Definir uma altura máxima */
    overflow-y: auto; /* Adicionar barra de rolagem vertical se exceder a altura */
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.modal-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    position: relative;
}
.modal-content h3 {
    margin-top: 0;
}
.close-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close-btn:hover,
.close-btn:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}
.modal form {
    display: flex;
    flex-direction: column;
}
.modal form label {
    margin-top: 10px;
}
.modal form input,
.modal form textarea,
.modal form select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
.modal form button {
    margin-top: 20px;
    padding: 10px;
    background-color: var(--theme-color);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal form button:hover {
    background-color: #0056b3;
}
/* Lista de Tarefas no calendário */
.task-list {
    margin-top: 10px;
    text-align: left;
}
.task-item {
    background-color: #f8f9fa;
    padding: 10px;
    border-left: 8px solid;
    margin-bottom: 10px;
    border-radius: 3px;
    position: relative;
}
.task-item h4 {
    margin: 0 0 5px 0;
	margin-left: 20px;

}
.task-item p {
    margin: 0;
    font-size: 14px;
}

/* Estilos para os botões dentro das tarefas */
.task-item button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 16px;
}

.task-item button:hover {
  color: #007bff;
}


.tag {
    display: inline-block;
    padding: 2px 8px;
    margin-top: 5px;
    background-color: #6c757d;
    color: #ffffff;
    border-radius: 3px;
    font-size: 12px;
}
.delete-task {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #dc3545;
    font-size: 16px;
    cursor: pointer;
}
.delete-task:hover {
    color: #a71d2a;
}
/* Lista de Tags */
.tag-list {
    max-width: 400px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.tag-list h3 {
    margin-top: 0;
}
.tag-item {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #6c757d;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14px;
}
/* Estilos para a lista de seleção de tags */
.tag-suggestions {
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    max-height: 150px;
    overflow-y: auto;
    width: calc(100% - 22px);
    z-index: 20;
}
.tag-suggestion-item {
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.tag-suggestion-item:hover {
    background-color: #f1f1f1;
}
.tag-color-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: auto;
}
/* Botão de Importar */
.import-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}
.import-container input[type="file"] {
    display: none;
}
.import-container label {
    padding: 10px 20px;
    background-color: #28a745;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.import-container label:hover {
    background-color: #218838;
}

/* Botão de Exportar */

.export-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

.export-container button {
    padding: 10px 20px;
    background-color: #17a2b8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	align-items: center;
}

.export-container button:hover {
    background-color: #117a8b;
}

/* Botões de login*/
/* Estilo para os botões de autenticação */
.auth-button {
  background-color: var(--theme-color); /* Cor de fundo azul */
  color: #fff; /* Cor do texto branca */
  border: none; /* Sem borda */
  padding: 10px 15px; /* Espaçamento interno */
  cursor: pointer; /* Cursor de mãozinha ao passar o mouse */
  border-radius: 5px; /* Cantos arredondados */
  margin: 0 5px; /* Margem entre os botões */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s ease; /* Transição suave */
}

.auth-button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}

.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.auth-buttons .button {
  margin: 0 5px;
}

.auth-buttons .button[style*="display: none"] {
  display: none !important;
}

.button {
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

/* Botão primário (azul) */
.button-primary {
  background-color: var(--theme-color);
}

.button-primary:hover {
  background-color: var(--theme-color-hover);
}

/* Botão sucesso (verde) */
.button-success {
  background-color: #28a745;
}

.button-success:hover {
  background-color: #218838;
}

/* Botão perigo (vermelho) */
.button-danger {
  background-color: #dc3545;
}

.button-danger:hover {
  background-color: #c82333;
}

.import-export {
  text-align: center;
  margin: 20px 0;
}


/* Estilo para tarefas concluídas no calendário */
.task-preview.completed {
    background-color: #d3d3d3; /* Cor de fundo cinza claro */
    color: #666666; /* Texto cinza escuro */
    text-decoration: line-through; /* Texto riscado */
    position: relative;
    border-left: 5px solid;
    border-left-color: inherit;
    padding-left: 5px;
}

.task-preview.completed:hover {
    background-color: #c9c1c9; /* Cor de fundo cinza claro */
    color: #666666; /* Texto cinza escuro */
    text-decoration: line-through; /* Texto riscado */
    position: relative;
    border-left: 5px solid;
    border-left-color: inherit;
    padding-left: 5px;
}

/* Estilo para tarefas concluídas no modal */
.task-item.completed {
    background-color: #d3d3d3;
    color: #666666;
    border-left: 8px solid;
    border-left-color: inherit;
}

.task-item.completed h4 {
    text-decoration: line-through;
	margin-left: 20px;
}

.task-item.completed .tag {
    opacity: 0.6;
}

/* Ajustes nos botões e checkbox */
.complete-task-checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.edit-task {
    position: absolute;
    top: 10px;
    right: 40px;
    background: none;
    border: none;
    color: var(--theme-color);
    font-size: 16px;
    cursor: pointer;
}

.edit-task:hover {
    color: var(--theme-color-hover);
}

.delete-task {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: #dc3545;
    font-size: 16px;
    cursor: pointer;
}

.delete-task:hover {
    color: #a71d2a;
}

/* Edição de tarefas*/
.edit-task {
    position: absolute;
    top: 10px;
    right: 40px; /* Ajuste conforme necessário */
    background: none;
    border: none;
    color: var(--theme-color);
    font-size: 16px;
    cursor: pointer;
}
.edit-task:hover {
    color: var(--theme-color-hover);
}


/*Edição de Tags*/

/* Estilos para o modal de opções da tag e de edição da tag */
.modal-content h3 {
    margin-top: 0;
}

.modal-content form label {
    margin-top: 10px;
}

.modal-content form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.modal-content .button {
    width: auto;
    margin-top: 15px;
}

.modal-content .button:hover {
    width: auto;
    margin-top: 15px;
	background-color: var(--theme-color-hover);
}

/* Estilo para o mural */
#bulletin-board {
  margin: 20px;
}

#bulletin-board h2 {
  text-align: center;
}

#bulletin-board .button {
  display: block;
  margin: 10px auto;
}

/* Container das notas */
#notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* Estilo para as notas */
.note {
  width: 200px;
  min-height: 200px;
  background-color: #ffff88;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  word-wrap: break-word;
}

.note h4 {
  margin-top: 0;
}

.note .note-date {
  font-size: 12px;
  color: #555;
}

.note .note-text {
  margin: 10px 0;
  max-height: 100px;
}

.note .note-actions {
  position: absolute;
  top: 5px;
  right: 5px;
}

.note .note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.note .note-actions button:hover {
  color: #007bff;
}

/* Estilo para o mural */
#bulletin-board {
  margin: 20px;
}

#bulletin-board h2 {
  text-align: center;
}

#bulletin-board .button {
  display: block;
  margin: 10px auto;
}

/* Container das notas */
#notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* Estilo para as notas */
.note {
  width: 200px;
  min-height: 200px;
  background-color: #ffff88;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  word-wrap: break-word;
}

.note h4 {
  margin-top: 0;
}

.note .note-date {
  font-size: 12px;
  color: #555;
}

.note .note-text {
  margin: 10px 0;
  max-height: 100 px;
  overflow: auto;
}

.note .note-actions {
  position: absolute;
  top: 5px;
  right: 5px;
}

.note .note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.note .note-actions button:hover {
  color: #007bff;
}


/* Blocão das notas*/
/* Estilo para o container principal do calendário */
#calendar-container {
  width: 100%;
  margin: 0 auto;
}

/* Estilo para o container principal do mural de notas */
#bulletin-board-container {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto; /* Margem para separar dos outros elementos */
  padding: 15px;
  background-color: #fff; /* Cor de fundo da caixa */
  border: 1px solid #ddd; /* Borda da caixa */
  border-radius: 5px; /* Cantos arredondados */
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  overflow: hidden;  
}

/* Estilo para o título dentro do container */
#bulletin-board h2 {
  text-align: center;
  margin-top: 0;
}

/* Estilo para o botão dentro do mural */
#bulletin-board .button {
  display: block;
  margin: 10px auto;
}


/* Botão de suporte */
/* Estilo para o botão flutuante de suporte */
#support-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--theme-color);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex; /* Adiciona flexbox */
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
}

#support-button:hover {
  background-color: var(--theme-color-hover);
}

/* Ajustar o tamanho do ícone */
#support-button i {
  font-size: 28px; /* Ajuste conforme necessário */
}

/* Estilo para o botão flutuante de configurações */
#settings-button {
  position: fixed;
  bottom: 100px; /* Ajuste conforme necessário */
  right: 20px;
  background-color: var(--theme-color, #007bff);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings-button:hover {
  background-color: var(--theme-color-hover, #0056b3);
}

/* Ajustar o tamanho do ícone */
#settings-button .material-icons {
  font-size: 32px;
}
